@import url("https://v1.fontapi.ir/css/SFProDisplay");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    font-family:
      SF Pro Display,
      sans-serif;
    @apply relative bg-black text-white;
  }
}

select option {
  background: #232323;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.debug > * {
  @apply border;
}
